/*--------------------------------------------------------------
  XX.X Variables
--------------------------------------------------------------*/

$body-background-color: white;
$body-font-color: #222;
$body-font-size: 18px;
$body-line-height: 1.6;



/* Blues */
$blue-1: #34495e;
$blue-2: #708ead;


/* Greys */
$grey-1: #ecf0f1;
$grey-2: #bdc3c7;


$font-uppercase: uppercase;


/* Serif font */
$font-serif: 'Georgia', serif;

.font-serif{
  font-family:  'Georgia', serif;;
}


/* Sans-serif font */
$font-sans-serif: 'Trebuchet MS', Trebuchet MS, sans-serif;

.font-sans-serif{
  font-family:  'Trebuchet MS', Trebuchet MS, sans-serif;
}



/* Body Font */
$body-font: 'Georgia', serif;
