/*--------------------------------------------------------------
  XX.X Variables
--------------------------------------------------------------*/

$body-background-color: #EEE;
$body-font-color: #222;
$body-font-size: 18px;
$body-line-height: 1.15;


$grey: #444;


/* Blues */
$blue-1: #34495e;
$blue-2: #2c3e50;


/* Greys */
$grey-1: #ecf0f1;
$grey-2: #bdc3c7;
$grey-3: #95a5a6;
$grey-4: #7f8c8d;


$font-uppercase: uppercase;


/* Serif font */
$font-serif: 'Georgia', serif;

.font-serif{
  font-family:  'Georgia', serif;;
}


/* Sans-serif font */
$font-sans-serif: 'Trebuchet MS', Trebuchet MS, sans-serif;

.font-sans-serif{
  font-family:  'Trebuchet MS', Trebuchet MS, sans-serif;
}



/* Body Font */
$body-font: 'Georgia', serif;
