# Dependency directory
# ----------------------------------------------------------------------
node_modules
gulpfile.js


# Mac specific
# ----------------------------------------------------------------------
.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
ehthumbs.db
Thumbs.db


# Files that might appear on external disk
# ----------------------------------------------------------------------
.Spotlight-V100
.Trashes


# Misc files
# ----------------------------------------------------------------------
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-workspace
*.sublime-project
_notes
dwsync.xml
logs/*
