/*--------------------------------------------------------------
  XX.X Forms
--------------------------------------------------------------*/


/* -- Placeholder Text -- */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: #96968d;}
input:-moz-placeholder, textarea:-moz-placeholder {color: #96968d;}
input::-moz-placeholder, textarea::-moz-placeholder {color: #96968d;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color: #96968d;}

/* -- Styled Selects - wrapped due to FF appearance bug -- */
.styled-select {
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
  max-width: 50%;
  height: auto;
  background:url(../img/select_arrow.png) no-repeat 98% center #fff;
  border: 1px solid #ccc;
  overflow: hidden;
  border-radius: 4px;
}

.styled-select select {
  display: block;
  margin: 0;
  white-space: nowrap;
  width: 100%;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  appearance: none;
  outline: none;
}

.styled-select:hover {
   box-shadow: 0 0 3px rgba(0,0,0,.2);
 }


/* -- Basic form defaults-- */

form p {padding: 10px 0;}
label {display: block; padding: 5px 0;}
