/*--------------------------------------------------------------
  XX.X Footer
--------------------------------------------------------------*/

.footer{
	background-color: $grey-4;
	color: white;
	font-family: $font-sans-serif;
}
