/*--------------------------------------------------------------
  XX.X Footer
--------------------------------------------------------------*/

.footer{
	background-color: $grey-2;
	color: white;
	font-family: $font-sans-serif;
    text-align: center;
}
