/*--------------------------------------------------------------
  XX.X Header
--------------------------------------------------------------*/

.logo-wrapper{
	display: block;
	float: left;
	img{
        max-width: 260px;
        &:hover{
            opacity: .7;
        }
    }
}
