/*  FOOTER
=================================================================== /// */

.footer{
	background-color: $grey-4;
	color: $pure-white;
	font-family: $font-noto-sans;
}

.footer-four-up{
	padding: 40px 0;
}

.footer-four-up-one{
	float: left;
	width: 20%;
	@media only screen and (max-width : 830px) {
		float: none;
		width: auto;
		text-align: center;
	}
}

.footer-four-up-one h3{
	font-size: 20px;
	color: $blue-1;
}

.footer-four-up-one ul li a{
	color: $grey-1;
		&:hover{
		color: $orange-1;
	}
}

.footer-four-up-two{
	float: left;
	width: 20%;
	margin-top: 50px;
	@media only screen and (max-width : 830px) {
		float: none;
		width: auto;
		padding: 10px;
		margin-top: 0;
		margin-bottom: 0;
		border-top: 1px dotted $blue-1;
		text-align: center;
	}
}

.footer-four-up-two ul{
	padding-left: 20%;
	margin: 0;
	@media only screen and (max-width : 830px) {
		padding-left: 0;
	}
}

.footer-four-up-two ul li a{
	color: $grey-1;
		&:hover{
		color: $orange-1;
	}
}

.footer-four-up-three{
	float: left;
	width: 30%;
	margin-top: 40px;
	padding: 0 20px;
	@media only screen and (max-width : 830px) {
		float: none;
		width: auto;
		padding: 10px;
		margin-top: 0;
		margin-bottom: 0;
		border-top: 1px dotted $blue-1;
		text-align: center;
		padding: 5px 30%;
	}
}

.footer-four-up-three a{
	color: $grey-1;
		&:hover{
		color: $orange-1;
	}
}

.footer-four-up-four{
	float: left;
	width: 30%;
	margin-top: 55px;
	@media only screen and (max-width : 830px) {
		float: none;
		width: auto;
		margin-top: 0;
		padding-top: 20px;
		padding-bottom: 20px;
		border-top: 1px dotted $blue-1;
		text-align: center;
	}
}


.footer-search-position{
	float: right;
	/* max-width: 254px; */
/*
	position: absolute;
	top: 24px;
	right: 2%;
*/
	@media only screen and (max-width : 830px) {
		float: none;
		display: inline-block;
	}
	@media only screen and (max-width : 445px) {
/*
		top: 55px;
		right: 13%;
*/
	}
}

.search-form .footer-search-submit-position {
	position: absolute;
	right: 0;
	@media only screen and (max-width : 830px) {
		right: 30%;
	}
		@media only screen and (max-width : 675px) {
		right: 27%;
	}
		@media only screen and (max-width : 600px) {
		right: 25%;
	}
		@media only screen and (max-width : 550px) {
		right: 22%;
	}
		@media only screen and (max-width : 485px) {
		right: 20%;
	}
		@media only screen and (max-width : 455px) {
		right: 17%;
	}
		@media only screen and (max-width : 415px) {
		right: 15%;
	}
}

.footer-search-term-width{
	width: 254px;
}

.footer-search .submit {
	position: absolute;
	top: 37%;
	left: 228px;
	width: 46px;
	height: 30px;
	margin-top: -11px;
	background: $blue-4 url(/a/i/search.png) no-repeat 14px 5px;
	filter: none;
	cursor: pointer;
	text-indent: -9999px;
	border-radius: 0;
}

.footer-search .search {
	font-size: 17px;
	padding: 4px 35% 4px 10px;
	/* background-color: rgba(101, 130, 161, 1.0); */
	border-radius: 0;
}

.footer-search .search:focus {
	color: rgba(101, 130, 161, 0.3);
	transition: color 1s;
}

.footer-four-up-one ul{
	margin-top: 0;
	padding-left: 0;
}

.footer-four-up-one ul li{
	list-style-type: none;
}

.sub-footer{
	border-top: 1px solid rgba(85, 85, 85, 1.0);
}

.sub-footer-right{
	float: right;
	width: 50%;
	text-align: right;
	@media only screen and (max-width: 600px) {
		float: none;
		width: auto;
		text-align: center;
	}
}

.sub-footer-left{
	float: left;
	width: 50%;
	@media only screen and (max-width: 600px) {
		float: none;
		width: auto;
		text-align: center;
	}
}

