/*  GRID
=================================================================== /// */

.mobile-wrapper{
	@media only screen and (max-width: 1055px) {
		padding-left: 2%;
		padding-right: 2%;
	}
}

.col-standard-right{
	float: right;
	width: 70%;
	@media only screen and (max-width : 875px) {
		float: none;
		width: auto;
	}
}

.col-standard-left{
	float: left;
	width: 30%;
	padding-right: 8%;
	@media only screen and (max-width : 875px) {
		float: none;
		width: auto;
		padding-right: 0;
		text-align: center;
		margin: 50px 0;
	}
}

.col-standard-left h3{
	color: #000;
	border-bottom: 1px solid $grey-3;
}

.col-standard-left ul{

}

.col-standard-left ul li{
	padding: 5px 0;
	& a{
	color: $grey-4;
	}
		& a:hover{
		color: $orange-1;
	}
}

.site-wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.content-wrapper{
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
}

.left {float: left;}
.right {float: right;}
.size1of1 {float: none;}
.rel {position: relative;}

.size1of2,.size2of4 {width:50%;}
.size1of3 {width: 33.33333%;}
.size2of3 {width: 66.66666%;}
.size1of4 {width: 25%;}
.size3of4 {width: 75%;}
.size1of5 {width: 20%;}
.size2of5 {width: 40%;}
.size3of5 {width: 60%;}
.size4of5 {width: 80%;}
.size1of6 {width: 16.66666%;}
.size5of6 {width: 83%;}

.left1of1 {float:none;}
.left1of2 {margin-left: 50%;}
.left1of3 {margin-left: 33.33333%;}
.left2of3 {margin-left: 66.66666%;}
.left1of4 {margin-left: 25%;}
.left3of4 {margin-left: 75%;}
.left1of5 {margin-left: 20%;}
.left2of5 {margin-left: 40%;}
.left3of5 {margin-left: 60%;}
.left4of5 {margin-left: 80%;}

.mvl{ margin-top: 20px; margin-bottom: 20px;}