/*  HEADER
=================================================================== /// */

.logo-wrapper{
	display: block;
	float: left;
		@media only screen and (max-width : 930px) {
			width: 30%;
		}
		@media only screen and (max-width : 875px) {
			display: inline;
			float: none;
		}
}

.header-logo{
	padding: 35px 0 0 15px;
		@media only screen and (max-width : 875px) {
			padding: 37px 0 0 34%;
		}
		@media only screen and (max-width : 710px) {
			padding: 37px 0 0 32%;
		}
		@media only screen and (max-width : 630px) {
			padding: 37px 0 0 30%;
		}
		@media only screen and (max-width : 530px) {
			padding: 37px 0 0 25%;
		}
		@media screen and (max-width: 445px) {
			padding: 37px 0 0 17%;
		}
		@media screen and (max-width: 400px) {
			padding: 37px 0 0 9%;
		}
}

.header-logo:hover{
	opacity: .65;
	transition: all 1s ease;
}

.search-keyline{
	border-bottom: 1px solid #D6D6D6;
	height: 40px;
	background-color: #f5f5f5;
	@media only screen and (max-width : 875px) {
		height: 70px;
	}
}



.header-search-position{
	position: absolute;
	top: 5px;
	right: 5px;
		@media only screen and (max-width : 700px) {
		top: 33px;
		right: 24%;
	}
	@media only screen and (max-width : 445px) {
		top: 33px;
		right: 13%;
	}
}

Z7nDGpidpPya

// .search-form{
// 	display: inline-block;
// }

.search-form .search-submit {
	width: 46px;
	height: 30px;
	background: $blue-4 url(/a/i/search.png) no-repeat 14px 5px;
	filter: none;
	cursor: pointer;
	text-indent: -9999px;
	border-radius: 0;
/*
	position: absolute;
	left: 228px;
*/
}

.search-form .header-search-submit-position {
	position: absolute;
	right: 0;
}

.search-form .search-term {
	font-size: 17px;
	padding: 4px 0 4px 10px;
	border-radius: 0;
}

.search-form .header-search-term-width {
	width: 274px;
}

.search-form .search-term:focus {
	color: rgba(101, 130, 161, 0.3);
	transition: color 1s;
}


/* -- Placeholder Text -- */
::-webkit-input-placeholder {
   color: rgba(101, 130, 161, 1.0);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(101, 130, 161, 1.0);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(101, 130, 161, 1.0);
}

:-ms-input-placeholder {
   color: rgba(101, 130, 161, 1.0);
}

 :focus::-webkit-input-placeholder{
	color: rgba(101, 130, 161, 0.3);
	transition: color 1s;
}

 :focus::-moz-placeholder{ /* Firefox 18- */
	color: rgba(101, 130, 161, 0.3);
	transition: color 1s;
}

 :focus::-moz-placeholder {  /* Firefox 19+ */
	color: rgba(101, 130, 161, 0.3);
	transition: color 1s;
}

 :focus::-ms-input-placeholder {
	color: rgba(101, 130, 161, 0.3);
	transition: color 1s;
}

.header-wrapper{
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
}