/*--------------------------------------------------------------
  XX.X Pagination
--------------------------------------------------------------*/


.pagination {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
	@media only screen and (max-width: 875px) {
		float: none;
		text-align: center;
		margin-top: 40px;
		margin-bottom: 40px;
	}
	a {
		padding: 8px 16px;
		border: 2px solid $grey-2;
		color: $grey-2;
		text-decoration: none;
		@media only screen and (max-width: 875px) {
			padding: 8px 8px;
		}
		@media only screen and (max-width: 440px) {
			padding: 8px 5px;
		}
		&.active{
			border: 2px solid $grey-2;
			background: $grey-2;
			color: white;
			&:hover{
				border-color: $grey-2;
				color: $grey-2;
				background: white;
			}
		}
	}
}

.pagination li{
	display: inline;
		&:hover a{
			padding: 8px 16px;
			border: 2px solid $grey-2;
			color: $grey-2;
			cursor: pointer;
			@media only screen and (max-width : 875px) {
				padding: 8px 8px;
			}
			@media only screen and (max-width : 440px) {
				padding: 8px 5px;
			}
		}

	}


	.prev {
		&:before {
			content: "« ";
			font-weight: normal;
		}
	}

	.next {
		&:after {
			content: " »";
			font-weight: normal;
		}
	}

	.next, .prev {
		&:hover {
			border-color: $grey-2;
			color: $grey-2;
			text-shadow: none;
		}
	}
